services:
  # Serviço Backend (API)
  - type: web
    name: minha-api-receitas
    env: node
    plan: free
    rootDir: ./API
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_VERSION
        value: "20"
      - key: OPENROUTER_API_KEY
        sync: false
      - key: FRONTEND_URL
        fromService:
          type: web
          name: meu-app-receitas
          property: host
      - key: CORS_ORIGIN
        fromService:
          type: web
          name: meu-app-receitas
          property: host

  # Serviço Frontend (Interface)
  - type: web
    name: meu-app-receitas
    env: static
    rootDir: ./Interface-Receita
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: minha-api-receitas
          property: host